/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background: #fafafa;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	color: #555;
}
.hidden{
	display: none !important;
}
.loader{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
a{
	color: #fec240;
}
h2{
	font-family: 'Roboto Slab', serif;
	font-size: 2.5em;
	font-weight: normal;
	margin: 25px 0 15px;
}
h2 + p {
	margin-top: 0;
}
h3{
	font-family: 'Roboto Slab', serif;
	font-size: 2em;
	font-weight: normal;
	margin-bottom: 0;
}
h4{
	font-family: 'Roboto Slab', serif;
	font-size: 1.5em;
	font-weight: normal;
	margin-bottom: 0;
}
.profile-image{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	border: solid 5px rgba(254,194,64, 1);
	float: right;
	margin: 0 0 15px 15px;
}
@media(min-width: 960px){
	.profile-image{
		width: 300px;
		height: 300px;
	}
}
.profile-image img{
	width: 100%;
}
.flash-message{
	display: none;
}
.flash-message {
	width: 100%;
	padding: 10px 20px;
	background: #26A65B;
	border: solid 1px #1E824C;
	color: #fff;
	margin-bottom: 15px;
}
.flash-message.error{
	background: #D91E18;
	border: solid 1px #96281B;
	display: block;
}
.admin{
	position: fixed;
	z-index: 9999;
	top: 100px;
	background: #555;
	padding: 0 10px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	left: -161px;
	transition: left 0.4s;
}
.admin.open{
	left: 0;
}
.admin__toggle{
	display: inline-block;
	background: #555;
	padding: 3px 8px;
	font-size: 1.1em;
	line-height: normal;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	color: #fff;
	transition: color 0.3s;
	position: absolute;
	right: -31px;
	top: 10px;
}
.admin__toggle i{
	pointer-events: none;
}
.admin__toggle:hover, .admin.open .admin__toggle{
	color: #fec240;
}
.admin__nav{
	list-style: none;
	padding: 0;
	margin: 0;
}
.admin__nav_list_item{
	padding: 10px 20px;
	border-top: solid 1px #444;
}
.admin__nav_list_item a{
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	transition: color 0.3s;
}
.admin__nav_list_item a:hover{
	color: rgba(255,255,255,0.6);
}
.admin__nav_list_item:first-child{
	border: none;
}
.navigation{
	width: 100%;
	position: fixed;
	background: #555;
	z-index: 99;
}
.navigation__list{
	list-style: none;
	padding: 15px 0;
	margin: 0;
	top: 0;
	text-align: center;
}
.navigation__list:after{
	display: block;
	content: '';
	clear: both;
}
.navigation__list_item{
	display: inline-block;
	margin-left: 25px;
	position: relative;
}
.navigation__list_item.active:after{
	content: '';
	height: 5px;
	position: absolute;
	width: 100%;
	background: #fec240;
	bottom: -15px;
	left: 0;
}
.navigation__list_item:first-child{
	margin: 0;
}
.navigation__list_item a{
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bolder;
	transition: all 0.3s;
}
.navigation__list_item a:hover{
	color: rgba(255,255,255,0.3);
}
.header{
	width: 100%;
	background: #fff;
	border-bottom: solid 2px #f0f0f0;
	text-align: center;
	padding: 80px 0 25px;
}
.logo{
	margin: 0;
	padding: 0;
	display: inline-block;
}
.container{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}
.container:after{
	display: block;
	content: '';
	clear: both;
}
.page-wrap{
	min-height: 100%;
	margin-bottom: -73px;
	padding-bottom: 50px;
}
.page-wrap:after{
	display: block;
	content: '';
	height: 73px;
}
.container .half{
	float: left;
	width: 50%;
}
.content{
	padding: 0 25px;
}
@media(min-width: 960px){
	.content{
		padding: 0;
	}
}
.meta{
	width: 100%;
	text-align: center;
	color: #aaa;
	margin-bottom: 10px;
	font-size: 0.8em;
}
.meta a{
	color: #fec240;
	text-decoration: none;
	transition: color 0.3s;
}
.meta a:hover{
	color: #aaa;
}
.meta__item{
	text-transform: uppercase;
	margin-left: 15px;
	font-weight: bold;
}
.meta__item:first-child{
	margin-left: 0;
}
.meta__item em{
	font-size: 0.8em;
	text-transform: lowercase;
}
.post{
	width: 100%;
	margin-top: 50px;
	padding-top: 50px;
	border-top: solid 2px #f0f0f0;
}
.post:first-child{
	padding-top: 0;
	border-top: none;
}
.post__title{
	margin: 0;
	padding: 0;
	font-family: 'Roboto Slab', serif;
	width: 100%;
	text-align: center;
	font-weight: normal;
	font-size: 2em;
}
.post__title a{
	color: #555;
	text-decoration: none;
	display: inline-block;
	position: relative;
	margin-bottom: 10px;
	transition: color 0.3s;
	border: none;
}
.post__title a:after{
	content: '';
	height: 2px;
	width: 0;
	background: #fec240;
	position: absolute;
	left: 0;
	bottom: -5px;
	transition: width 0.3s;
}

@media(min-width:960px){
	.post__title a:hover{
		color: #aaa;
	}
	.post__title a:hover:after{
		width: 60%;
	}
}
.post__body:first-letter{
	color: #fec240;
	font-size: 4em;
	font-family: 'Roboto Slab', serif;
	float: left;
	margin-right: 15px;
	line-height: 50px;
}
.post__body p{
	line-height: 30px;
}
.post__buttons{
	display: block;
	width: 100%;
	text-align: right;
	margin-top: 30px;
}
.comments{
	margin-top: 100px;
}
.button{
	display: inline-block;
	padding: 5px 15px;
	border: solid 1px #222;
	text-decoration: none;
	font-size: 0.8em;
	color: #222;
	transition: all 0.3s;
	background: #fafafa;
}
.button:hover{
	color: #aaa;
	border-color: #aaa;
}
.button i{
	margin-left: 10px;
	font-size: 1.2em;
	position: relative;
	top: 1px;
	right: 0px;
	transition: right 0.3s;
}
.button:hover i{
	right: -2px;
}
.form-button{
	border: none;
	background: #fec240;
	color: #fff;
	padding: 10px 15px;
	cursor: pointer;
	font-size: 0.9em;
	margin-top: 15px;
	position: relative;
	padding-left: 50px;
	font-weight: bold;
	transition: background 0.5s;
}
.form-button:hover{
	background: #feb820;
}
.form-button i{
	position: absolute;
	height: 100%;
	background: #feb820;
	top: 0;
	left: 0;
	width: 37px;
	text-align: center;
	padding-top: 12px;
}
input,textarea{
	width: 100%;
	border: none;
	padding: 15px;
	border: solid 2px rgba(85,85,85,0.1);
	transition: border 0.3s;
	font-size: 1em;
	margin-top: 15px;
}
input.title{
	font-family: 'Roboto Slab', serif;
	margin-top: 0;
}
textarea{
	resize: none;
	height: 500px;
}
textarea.email-body{
	height: 200px;
}
input:focus, textarea:focus, .select select:focus{
	border-color: rgba(254,194,64, 0.5);
	outline: 0;
}
input[disabled="disabled"],textarea[disabled="disabled"], .select select[disabled="disabled"]{
	opacity: 0.5;
}
.select{
	margin-top: 15px;
	position: relative;
}
.select i{
	position: absolute;
	right: 15px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.select select{
	padding: 15px;
	width: 100%;
	box-shadow: none;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	font-size: 1em;
	background: #fff;
	border: solid 2px rgba(85,85,85,0.1);
	transition: border 0.3s;
	border-radius: 0;
}


.the_posts{
	list-style: none;
	padding: 0;
	margin: 0;
	border-top: solid 2px rgba(254,194,64, 0.5);
	margin-top: 10px;
}
.the_posts li{
	padding: 10px;
	font-family: 'Roboto Slab', serif;
	position: relative;
}
.the_posts > li:nth-child(even){
	background: #eee;
}
.actions li{
	padding: 0;
	margin-left: 15px;
	float: left;
}
.actions:after{
	display: block;
	content: '';
	clear: both;
}
.actions li:first-child{
	margin: 0;
}
.the_posts .actions{
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	right: 10px;
	top: 47%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.the_posts .actions a{
	transition: all 0.3s;
}
.the_posts .actions a:hover{
	color: #222;
}

.footer{
	width: 100%;
	background: #fff;
	border-top: solid 2px #f0f0f0;
	padding: 15px 25px;
}
@media(min-width: 960px){
	.footer{
		padding: 15px 0;
	}
}
.footer__nav{
	list-style: none;
	text-align: right;
	margin: 0;
	padding: 11px 0 0;
}
.footer__nav_list_item{
	display: inline-block;
	margin-left: 10px;
	font-size: 0.6em;
}
@media(min-width: 960px){
	.footer__nav_list_item{
		font-size: 1em;
	}
}
.footer__nav_list_item:first-child{
	margin: 0;
}
.footer__nav_list_item a{
	color: rgba(85, 85, 85, 1);
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	transition: color 0.2s;
}
.footer__nav_list_item a:hover{
	color: rgba(85, 85, 85, 0.8);
}
.copyright{
	margin: 0;
	color: #555;
	font-size: 0.7em;
	font-weight: bold;
}
.footer:after{
	display: block;
	content: '';
	clear: both;
}
pre {
    display: block;
    clear: both;
    color: #555555;
    margin: 25px 0 0;
    background: #f4f4f4;
    border: solid 1px #e1e1e1;
    font-size: 0.8em;
    padding: 20px 10px;
} 