{{> header activeNav=this.title}}
	<section>
		{{> projects}}
	</section>
<!-- 	<section class="alternate">
		<div class="grid">
			<h2 class="col-1-1">Contact Me</h2>
			<p class="col-1-1">
				I'm in well versed in all things internet, if you have a project you'd like for me to work on drop me a line! If you'd like to email me directly you can reach me at <a href="mailto:hello@eastoh.co">hello@eastoh.co</a>
			</p>
			<div class="col-1-1">
				<div class="flash-message"></div>
			</div>
			<form id="js-contact-form" action="https://contactr.io/FT5yLEkLmpbyhRHn45OVxKIqZ2Tfn1z8efI5F6YOZCOFE0DHHF" method="POST">
				<div class="col-6-12">
					<input type="text" name="first_name" id="first_name" class="title" placeholder="First Name:">
				</div>
				<div class="col-6-12">
					<input type="text" name="last_name" id="last_name" class="title" placeholder="Last Name:">
				</div>
				<div class="col-6-12">
					<input type="text" name="email" id="email" class="email" placeholder="Email Address:">
				</div>
				<div class="col-6-12">
					<div class="select">
						<select name="reason" id="reason">
							<option value="" disabled="disabled" selected="selected">Reason for contacting me?</option>
							<option value="Site Bug">Bug found</option>
							<option value="Feedback">Site Feedback</option>
							<option value="Freelance">We'd like to work with you!</option>
						</select>
						<i class="fa fa-chevron-down"></i>
					</div>
				</div>
				<div class="col-1-1">
					<textarea name="body" id="body" placeholder="Message:" class="email-body"></textarea>
				</div>
				<p class="col-1-1 foot-note">
					This form is proudly powered by <a href="https://contactr.io" target="_blank">contactr.io</a>.
				</p>
				<div class="col-1-1">
					<button type="submit" class="button" id="js-publish">
						<i class="fa fa-paper-plane"></i>
						Send Message
					</button>
				</div>
				<input type="text" name="_human" style="display: none;">
				<input type="text" name="_required" style="display: none;" value="first_name, last_name, email, reason, body">
			</form>
		</div>
	</section> -->
{{> footer}}