{{> header}}
	<div class="grid">
		<article class="post col-1-1">
			<div class="meta">
				<span class="meta__item">
					<em>on</em> {{ publishedDate }}
				</span>
				<span class="meta__item">
					<em>by</em> <a href="#">{{ author }}</a>
				</span>
			</div>
			<h2 class="post__title">
				{{ title }}
			</h2>
			<div class="post__body">
				{{{contents}}}
			</div>
		</article>
		<div id="disqus_thread" class="col-1-1 comments"></div>
	</div>
	<script>
		var disqus_shortname = 'eastohco'; // required: replace example with your forum shortname

		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();    
	</script>
{{> footer}}