{{> header activeNav='Contact'}}
    <div class="grid">
        <h2 class="col-1-1">{{this.title}}</h2>
        <p class="col-1-1">
            Thank you for contacting me, I'll get back to you as soon as possible!
        </p>
    </div>
{{> footer}}