section{
	display: block;
	padding: 30px 20px;
	background: #fff;

	h2{
		margin-top: 0;
		text-align: center;
	}

	&.alternate{
		background: #f9f9f9;
	}

	p{
		text-align: center;
		font-size: 0.9em;
		margin-top: 0;
		margin-bottom: 20px;
	}
}