.social{
	display: block;
	margin-top: 50px;
	margin-bottom: 50px;

	a{
		display: inline-block;
		padding: 10px;
		background: #222;
		border-radius: 2px;
		color: #f1f1f1;
		margin-left: 10px;
		font-size: 1.3em;
		transition: background 0.4s;

		&:first-child{
			margin-left: 0;
		}

		&:hover{
			background: lighten(#222, 10);
		}
	}
}